$body-bg: #f2f7ff;
$body-bg-20: rgb(245, 247, 251);
$body-bg-30: rgb(235, 238, 245);

$text-purp: rgb(65, 80, 148);

.body-bg {
  background-color: $body-bg;
}

.bg-blue {
  background-color: #3b76ef;
}

.bg-violet {
  background-color: rgb(166, 109, 212);
}

.bg-light-blue {
  background-color: rgb(99, 199, 255)
}

.bg-green {
  background-color: rgb(109, 212, 177);
}